body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

#game-board {
    width: 100vmin;
    height: 100vmin;
    background-color: coral;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-color: darkcyan;
    border: .25vmin solid black;
}

.food {
    background-color: darkorchid;
    border: .25vmin solid black;
}